<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>demo_1_todolist</title>
    <link rel="stylesheet" href="./demo_1.css">
</head>
<body>
    <div id="app" v-cloak>
        <h1 class="title">{{title}}</h1>
        <!-- content ul -->
        <ul class="content_ul">
            <li class="content_ul_li" v-if="choosed == 'total'">
                <div v-for="(item,index) in todoList" class="li_item">
                    {{index+1}}. {{item.title}}<span @click="done(item)" class ='item' v-bind:class="item.status == 'done'?'item_done':'item_undo'">{{item.status == 'done'?'done':'done ?'}}</span>
                    <transition name="slide-fade" v-show="item.status == 'undo'" class="tran"> 
                        <div v-show="item.show" class="tran">
                            sure done it ?
                            <span class="tran_yes tran_span" @click="item.status = 'done';item.show=!item.show;">YES</span>
                            <span class="tran_no tran_span" @click="item.show=!item.show;">NO</span>
                        </div>
                    </transition>
                    <div class="item_con">{{item.con}}</div>

                </div> 
            </li>
            <li class="content_ul_li_add" v-if="choosed == 'add'">
                input the title of todo thing:
                <input type="text" v-model="newtodo.title" class="newtitle" @input="check(newtodo.title)">
                <p v-if="alreadyAdd" class="alreadyAdd">{{newtodo.title}} already exist!</p>
                input the content of todo thing:
                <textarea class="newcontent" cols="30" rows="10" v-model="newtodo.con"></textarea>
                <p class="addsucces" v-if="successAdd">{{addMsg}}</p>
                <div @click="add(newtodo)" v-if="!alreadyAdd" class="add">add</div>
                <div class="log">
                    add log:
                       
                        <div v-for="(item,index) in newadd">{{index+1}}--{{item}}</div>
                </div>
            </li>
        </ul>
        <!--tab ul -->
        <ul class="tab_ul">
            <li class="tab_ul_li cur" @click="total">total</li>
            <li class="tab_ul_li" @click="filterDone">done</li>
            <li class="tab_ul_li" @click="filterUndo">undo</li>
            <li class="tab_ul_li" @click="choosed = 'add'">add</li>
        </ul>
    </div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="./demo_1.es"></script>
</body>
</html>